<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@<%=username%> ~</title>
    <link rel="icon" href="/assets/flask_big_blue.png" type="image/x-icon" />
    <link rel="stylesheet" href="/assets/styles.css" />
  </head>
  <body>
    <a href="/pages/dashboard/user" class="back_home dashboard">
      <img src="/assets/menu_.png" alt="">
    </a>
    <section class="terminal"></section>
    <br>
    <div class="bash-command" style="flex-direction: column;"></div>

    <script src="/scripts/events.controller.js"></script>

    <% historys.forEach((history) => { %>
      <script>
        (
          async () => {
            typingOptions_(
              '<%=history.name%> <%=history.continue ? "(continue)" : ""%>',
              () => {
                window.location.href = "/pages/playground/<%=history.slug%>"
              }
            );
          }
        )();
      </script>
    <% }); %>

    <script>
      (
        async () => {
          await typing_(
            'Choose Your Own Adventure',
            true
          );

          await typing_(
            `Ready for unforgettable adventures, <span><%= username %></span>? Choose your game to begin:`
          );

        }
      )();
  </script>

  </body>
</html>
